[phases.setup]
aptPkgs = ["curl"]

[phases.install]
cmds = ["npm ci"]

[phases.generate]
dependsOn = ["setup"]
cmds = [
    "curl -sSL https://github.com/bufbuild/buf/releases/download/v1.47.2/buf-Linux-x86_64 -o /usr/local/bin/buf && chmod +x /usr/local/bin/buf",
    "cp -r ../proto .",
    "cd proto && buf dep update && cd ..",
    "mkdir -p src/lib/gen",
    "buf generate proto",
    "rm -rf proto"
]

[phases.build]
dependsOn = ["install", "generate"]
cmds = ["npm run build"]

[start]
cmd = "npm run start"
