[phases.setup]
aptPkgs = ["postgresql-client"]
nixPkgs = ["go"]

[phases.build]
cmds = [
    "go build -o server ."
]

[start]
cmd = "sh -c 'for f in migrations/*.sql; do psql $DATABASE_URL -f $f; done && ./server'"
